.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: pink;
}

.item-left {
  grid-column-start: 1;
  background-color: aqua;
}

.item-right {
  grid-column-start: 2;
  background-color: salmon;
}

@media only screen and (max-width: 768px) {
  .bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
}
